In [3]:
import pandas as pd

# importing All the files

In [5]:
student_vle = pd.read_csv("C:/Users/Dell/Desktop/25 march/studentVle.csv")
vle = pd.read_csv("C:/Users/Dell/Desktop/25 march/Vle.csv")
stu_reg = pd.read_csv("C:/Users/Dell/Desktop/25 march/studentRegistration.csv")
stu_info = pd.read_csv("C:/Users/Dell/Desktop/25 march/studentInfo.csv")
courses = pd.read_csv("C:/Users/Dell/Desktop/25 march/courses.csv")
assessments = pd.read_csv("C:/Users/Dell/Desktop/25 march/assessments.csv")

In [14]:
## Dataset 1
pd.isnull(vle).sum()

id_site              0
code_module          0
code_presentation    0
activity_type        0
dtype: int64

In [12]:
vle.columns

Index(['id_site', 'code_module', 'code_presentation', 'activity_type'], dtype='object')

In [61]:
vle.to_csv('C:/Users/Dell/Desktop/25 march/updated/vle.csv',index= False)

In [15]:
## Dealing with all the null values in all datasets.
## Dataset 2
pd.isnull(stu_reg).sum()

code_module                0
code_presentation          0
id_student                 0
date_registration         45
date_unregistration    22521
dtype: int64

In [25]:
## Replacing null values with 0.
stu_reg['date_registration']=stu_reg['date_registration'].fillna(0)
pd.isnull(stu_reg).sum()

code_module                0
code_presentation          0
id_student                 0
date_registration          0
date_unregistration    22521
dtype: int64

In [31]:
## Droping date_unregistration column as it has almost half of the null values in it and is not that importantfor future analysis.
stu_reg.drop('date_unregistration',axis= 1, inplace= True)

In [32]:
stu_reg.columns

Index(['code_module', 'code_presentation', 'id_student', 'date_registration'], dtype='object')

In [62]:
stu_reg.to_csv('C:/Users/Dell/Desktop/25 march/updated/stu_register.csv',index= False)

In [34]:
## Dataset 3
stu_info.columns

Index(['code_module', 'code_presentation', 'id_student', 'gender', 'region',
       'highest_education', 'imd_band', 'age_band', 'num_of_prev_attempts',
       'studied_credits', 'disability', 'final_result'],
      dtype='object')

In [37]:
print(stu_info['imd_band'])

0        90-100%
1         20-30%
2         30-40%
3         50-60%
4         50-60%
          ...
32588      10-20
32589     40-50%
32590     20-30%
32591    90-100%
32592     50-60%
Name: imd_band, Length: 32593, dtype: object

In [42]:
#Encoding all the percentage values to numeric values and creating a new column for the same.
encoding_map= { '0-10%':1, '10-20': 2,"20-30%":3,'30-40%': 4,' 40-50%': 5,'50-60%':6,'60-70%':7,'70-80%':8,'80-90%':9, '90-100%': 10}
stu_info['imd_band_encoded']= stu_info['imd_band'].map(encoding_map)
print(stu_info)

      code_module code_presentation  id_student gender                region  \
0             AAA             2013J       11391      M   East Anglian Region
1             AAA             2013J       28400      F              Scotland
2             AAA             2013J       30268      F  North Western Region
3             AAA             2013J       31604      F     South East Region
4             AAA             2013J       32885      F  West Midlands Region
...           ...               ...         ...    ...                   ...
32588         GGG             2014J     2640965      F                 Wales
32589         GGG             2014J     2645731      F   East Anglian Region
32590         GGG             2014J     2648187      F          South Region
32591         GGG             2014J     2679821      F     South East Region
32592         GGG             2014J     2684003      F      Yorkshire Region

           highest_education imd_band age_band  num_of_prev_attempts  \
0           HE Qualification  90-100%     55<=                     0
1           HE Qualification   20-30%    35-55                     0
2      A Level or Equivalent   30-40%    35-55                     0
3      A Level or Equivalent   50-60%    35-55                     0
4         Lower Than A Level   50-60%     0-35                     0
...                      ...      ...      ...                   ...
32588     Lower Than A Level    10-20     0-35                     0
32589     Lower Than A Level   40-50%    35-55                     0
32590  A Level or Equivalent   20-30%     0-35                     0
32591     Lower Than A Level  90-100%    35-55                     0
32592       HE Qualification   50-60%    35-55                     0

       studied_credits disability final_result  imd_band_encoded
0                  240          N         Pass              10.0
1                   60          N         Pass               3.0
2                   60          Y    Withdrawn               4.0
3                   60          N         Pass               6.0
4                   60          N         Pass               6.0
...                ...        ...          ...               ...
32588               30          N         Fail               2.0
32589               30          N  Distinction               NaN
32590               30          Y         Pass               3.0
32591               30          N    Withdrawn              10.0
32592               30          N  Distinction               6.0

[32593 rows x 13 columns]

In [44]:
stu_info['imd_band_encoded']=stu_info['imd_band_encoded'].fillna(stu_info['imd_band_encoded'].mean())

In [52]:
stu_info['imd_band_encoded']=stu_info['imd_band_encoded'].astype('int64')

In [53]:
print(stu_info['imd_band_encoded'].dtype)

int64

In [54]:
print(stu_info.dtypes)

code_module             object
code_presentation       object
id_student               int64
gender                  object
region                  object
highest_education       object
imd_band                object
age_band                object
num_of_prev_attempts     int64
studied_credits          int64
disability              object
final_result            object
imd_band_encoded         int64
dtype: object

In [56]:
pd.isnull(stu_info).sum()

code_module                0
code_presentation          0
id_student                 0
gender                     0
region                     0
highest_education          0
imd_band                1111
age_band                   0
num_of_prev_attempts       0
studied_credits            0
disability                 0
final_result               0
imd_band_encoded           0
dtype: int64

In [63]:
stu_info.to_csv('C:/Users/Dell/Desktop/25 march/updated/stu_info.csv',index= False)

In [57]:
## Last dataset with null values= Asssessment.csv
pd.isnull(assessments).sum()

code_module           0
code_presentation     0
id_assessment         0
assessment_type       0
date                 11
weight                0
dtype: int64

In [59]:
## Droping Date column 
assessments.drop('date',axis= 1, inplace= True)

In [60]:
assessments.columns

Index(['code_module', 'code_presentation', 'id_assessment', 'assessment_type',
       'weight'],
      dtype='object')

In [64]:
assessments.to_csv('C:/Users/Dell/Desktop/25 march/updated/assessments.csv',index= False)

#### All the datasets have been cleared of the null values.